<div id="openid-wrap" class="panel">
    <div id="openid-topnav">
        Log in or Register now! <a href="login" class="signin"><span>Sign in</span></a>
    </div>
    
    <div id="openid-signin-menu">
        <form id="openid-form" method="post" action="@Url.Action("OpenId", "Account")">
            <div id="openid-providers" class="blue">
                <ul>
                    <li id="openid"></li>
                    <li id="myopenid"></li>
                    <li id="twitter"></li>
                    <li id="google"></li>
                    <li id="yahoo"></li>
                </ul>
            </div>
            @Html.Hidden("openIdUrl")
        </form>
    </div>
</div>

<script type="text/javascript">

    var providers = {
        myopenid: { action: '@Url.Action("OpenId", "Account")', url: 'http://myopenid.com' },
        twitter: { action: '@Url.Action("OAuth", "Account")' },
        facebook: { action: '@Url.Action("OpenId", "Account")', url: 'http://facebook.com' },
        google: { action: '@Url.Action("OpenId", "Account")', url: 'http://www.google.com/accounts/o8/id' },
        yahoo: { action: '@Url.Action("OpenId", "Account")', url: 'http://yahoo.com' }
    };
    $("#signin").click(function () {
        $("#openid-form").submit();
    });

    $("li").not("#openid").click(function () {
        $("#other").hide(500);
        isHidden = true;
        var id = $(this).attr("id");
        var provider = providers[id];
        if (provider.action != undefined) {
            $("#openid-form").attr("action", provider.action);
        }
        if (provider.url != undefined) {
            $("#openIdUrl").val(provider.url);
        }
        $("#openid-form").submit();
    });

    $('.signin').click(function (e) {
        e.preventDefault();
        $('div#openid-signin-menu').toggle();
        return false;
    });

    $(document).mouseup(function (e) {
        if ($(e.target).parent("a.signin").length == 0) {
            $("div#openid-signin-menu").hide();
        }
    });

</script>