@model Jukebox.Business.Models.User

<h2>Register!</h2>

<div id="register-wrap">
    <form action="@Url.Action("Create")" enctype="multipart/form-data" method="post">
        <label for="UserName">User name:</label>
        @Html.TextBox("UserName", Model.UserName, new { id="UserName", disabled = "disabled" })
        @Html.Hidden("userName", Model.UserName, new { id = "userName" })
        <br />
        <label for="FirstName">First name:</label>
        @Html.TextBox("FirstName", Model.FirstName, new { id = "FirstName" })
        <br />
        <label for="LastName">Last name:</label>
        @Html.TextBox("LastName", Model.LastName, new { id = "LastName" })
        <br />
        <label for="Email">Email:</label>
        @Html.TextBox("Email", Model.Email, new { id = "Email" })        
        <br />
        <input type="submit" value="Register" />
    </form>

</div>