@using Jukebox.Web.ExtensionMethods;
@using Jukebox.Business.Models;
@{
    var search = TempData["Search"] as JukeboxSearch;   
}

<h2>Search for tracks</h2>

@using(Html.BeginForm("Track", "Search", FormMethod.Post)) {
    <div class="search">
        
        @Html.Search("query", new { placeholder = "Search Spotify" })
    
        <input type="submit" value="Search" />
    
    </div>    
}

@if (search != null)
{
    var tracksSeparatedAlphabetically = search.TracksSeparatedAlphabetically as IList<IList<JukeboxTrack>>;
    
    <div id="searchTabs">
        <ul>
            <li><a href="#tab-tracks">Tracks</a></li>
            <li><a href="#tab-artists">Artists</a></li>
            <li><a href="#tab-albums">Albums</a></li>
        </ul>
        
        <div id="tab-tracks">
            @foreach (var letterList in tracksSeparatedAlphabetically)
	        {
                <h3>@letterList.FirstOrDefault().ArtistsAndName.Substring(0, 1)</h3>
                
                <table>
                @foreach (var track in letterList)
                {
                    var searchPosition = "track_" + track.PlaylistPosition;
                    <tr><td>@track.ArtistsAndName</td><td id="@track.Id"><a href="#" id="@searchPosition" class="AddToQueue"><img src="@Url.Content("~/Content/images/add.png")" alt="Add" title="Play" class="media-icon" /></a></td></tr>
                }
                </table>
	        }
        </div>

        <div id="tab-artists">All artists</div>

        <div id="tab-albums">All albums</div>


    </div>
    
    string searchedQuery = search.Query;
    
    @Html.Hidden("searchedQuery", searchedQuery);

    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchTabs').tabs();

            $('.AddToQueue').click(function () {
                var searchQuery = '@searchedQuery';
                var trackIdElement = $(this).attr('id').split('_');
                var trackPosition = trackIdElement[1];
                var trackId = $(this).parent().attr('id');

                $.ajax({
                    url: '@Url.Content("~/Jukebox/AddSearchedTrackToQueue")',
                    data: { query: searchQuery, trackPosition: trackPosition, trackId: trackId },
                    success: function () {

                    }
                });

                return false;
            });
        });
    </script>
}